<?xml version="1.0" encoding="utf-8"?>
<config>
  <tvBrand>Letv</tvBrand>
  <tvModel>X65</tvModel>
  <tvInputSrc>HDMI1</tvInputSrc>
  <tvBarcodeLen>19</tvBarcodeLen>
  <communication mode="serialPort">
    <serialPort baud="115200" id="COM1" />
    <network ipAddr="192.168.1.11" />
    <i2c clockRate="50KHz" />
  </communication>
  <caModel>CA310</caModel>
  <caChannel>3</caChannel>
  <vpgModel>22294_A</vpgModel>
  <vpgTiming>68</vpgTiming>
  <vpgPatternGray>109</vpgPatternGray>
  <vpgPatternWhite>103</vpgPatternWhite>
  <vpgPattern100IRE>101</vpgPattern100IRE>
  <adjustOffset enable="false" />
  <checkColorTemp enable="true" />
  <products>
    <brand name="CAN">
      <colorTempCool enable="true">
        <x>2720</x>
        <y>2780</y>
      </colorTempCool>
      <colorTempStandard enable="true">
        <x>2790</x>
        <y>2910</y>
      </colorTempStandard>
      <colorTempWarm enable="true">
        <x>3130</x>
        <y>3290</y>
      </colorTempWarm>
      <toleranceGain>30</toleranceGain>
      <toleranceOffset>30</toleranceOffset>
      <model name="C42S">
        <magicValueGain>
          <x>12</x>
          <y>20</y>
        </magicValueGain>
        <magicValueOffset>
          <x>7</x>
          <y>20</y>
        </magicValueOffset>
        <rgbPresetGain>
          <cool>
            <r>128</r>
            <g>125</g>
            <b>133</b>
          </cool>
          <standard>
            <r>132</r>
            <g>125</g>
            <b>124</b>
          </standard>
          <warm>
            <r>143</r>
            <g>125</g>
            <b>106</b>
          </warm>
          <max>255</max>
          <min>63</min>
        </rgbPresetGain>
        <rgbPresetOffset>
          <cool>
            <r>1024</r>
            <g>1024</g>
            <b>1026</b>
          </cool>
          <standard>
            <r>1024</r>
            <g>1024</g>
            <b>1024</b>
          </standard>
          <warm>
            <r>1025</r>
            <g>1024</g>
            <b>1023</b>
          </warm>
          <max>2040</max>
          <min>504</min>
        </rgbPresetOffset>
        <LvSpec>300</LvSpec>
      </model>
      <model name="C49S">
        <magicValueGain>
          <x>12</x>
          <y>20</y>
        </magicValueGain>
        <magicValueOffset>
          <x>7</x>
          <y>20</y>
        </magicValueOffset>
        <rgbPresetGain>
          <cool>
            <r>128</r>
            <g>125</g>
            <b>133</b>
          </cool>
          <standard>
            <r>132</r>
            <g>125</g>
            <b>124</b>
          </standard>
          <warm>
            <r>143</r>
            <g>125</g>
            <b>106</b>
          </warm>
          <max>255</max>
          <min>63</min>
        </rgbPresetGain>
        <rgbPresetOffset>
          <cool>
            <r>1024</r>
            <g>1024</g>
            <b>1026</b>
          </cool>
          <standard>
            <r>1024</r>
            <g>1024</g>
            <b>1024</b>
          </standard>
          <warm>
            <r>1025</r>
            <g>1024</g>
            <b>1023</b>
          </warm>
          <max>2040</max>
          <min>504</min>
        </rgbPresetOffset>
        <LvSpec>300</LvSpec>
      </model>
    </brand>
    <brand name="Haier">
      <colorTempCool enable="true">
        <x>2680</x>
        <y>2740</y>
      </colorTempCool>
      <colorTempStandard enable="true">
        <x>2770</x>
        <y>2780</y>
      </colorTempStandard>
      <colorTempWarm enable="true">
        <x>2850</x>
        <y>2930</y>
      </colorTempWarm>
      <toleranceGain>30</toleranceGain>
      <toleranceOffset>30</toleranceOffset>
      <model name="70P3">
        <magicValueGain>
          <x>2</x>
          <y>2</y>
        </magicValueGain>
        <magicValueOffset>
          <x>20</x>
          <y>20</y>
        </magicValueOffset>
        <rgbPresetGain>
          <cool>
            <r>917</r>
            <g>1024</g>
            <b>1023</b>
          </cool>
          <standard>
            <r>957</r>
            <g>1024</g>
            <b>1010</b>
          </standard>
          <warm>
            <r>949</r>
            <g>1024</g>
            <b>951</b>
          </warm>
          <max>2048</max>
          <min>-2048</min>
        </rgbPresetGain>
        <rgbPresetOffset>
          <cool>
            <r>0</r>
            <g>0</g>
            <b>0</b>
          </cool>
          <standard>
            <r>0</r>
            <g>0</g>
            <b>0</b>
          </standard>
          <warm>
            <r>0</r>
            <g>0</g>
            <b>0</b>
          </warm>
          <max>2048</max>
          <min>-2048</min>
        </rgbPresetOffset>
        <LvSpec>350</LvSpec>
      </model>
      <model name="75P3">
        <magicValueGain>
          <x>2</x>
          <y>2</y>
        </magicValueGain>
        <magicValueOffset>
          <x>20</x>
          <y>20</y>
        </magicValueOffset>
        <rgbPresetGain>
          <cool>
            <r>917</r>
            <g>1024</g>
            <b>1023</b>
          </cool>
          <standard>
            <r>957</r>
            <g>1024</g>
            <b>1010</b>
          </standard>
          <warm>
            <r>949</r>
            <g>1024</g>
            <b>951</b>
          </warm>
          <max>2048</max>
          <min>-2048</min>
        </rgbPresetGain>
        <rgbPresetOffset>
          <cool>
            <r>0</r>
            <g>0</g>
            <b>0</b>
          </cool>
          <standard>
            <r>0</r>
            <g>0</g>
            <b>0</b>
          </standard>
          <warm>
            <r>0</r>
            <g>0</g>
            <b>0</b>
          </warm>
          <max>2048</max>
          <min>-2048</min>
        </rgbPresetOffset>
        <LvSpec>350</LvSpec>
      </model>
    </brand>
    <brand name="Letv">
      <colorTempCool enable="true">
        <x>2720</x>
        <y>2780</y>
      </colorTempCool>
      <colorTempStandard enable="true">
        <x>2790</x>
        <y>2910</y>
      </colorTempStandard>
      <colorTempWarm enable="true">
        <x>3130</x>
        <y>3290</y>
      </colorTempWarm>
      <toleranceGain>30</toleranceGain>
      <toleranceOffset>30</toleranceOffset>
      <model name="X65">
        <magicValueGain>
          <x>12</x>
          <y>20</y>
        </magicValueGain>
        <magicValueOffset>
          <x>7</x>
          <y>20</y>
        </magicValueOffset>
        <rgbPresetGain>
          <cool>
            <r>128</r>
            <g>128</g>
            <b>128</b>
          </cool>
          <standard>
            <r>128</r>
            <g>128</g>
            <b>123</b>
          </standard>
          <warm>
            <r>133</r>
            <g>128</g>
            <b>102</b>
          </warm>
          <max>135</max>
          <min>63</min>
        </rgbPresetGain>
        <rgbPresetOffset>
          <cool>
            <r>128</r>
            <g>128</g>
            <b>127</b>
          </cool>
          <standard>
            <r>128</r>
            <g>128</g>
            <b>128</b>
          </standard>
          <warm>
            <r>128</r>
            <g>128</g>
            <b>128</b>
          </warm>
          <max>255</max>
          <min>63</min>
        </rgbPresetOffset>
        <LvSpec>300</LvSpec>
      </model>
    </brand>
  </products>
</config>